{
	"pokemon": [
		{
			"name": "Iv100",
			"type": "pokemon",
			"isActive": "true",
			"geofence": "PATH/TO/YOUR/GEOFENCE",
			"geofence_exclude": "",
			"messenger": {
				"type": "messenger type",
				"channelId": "YOUR_CHANNEL_ID",
				"botToken": "YOUR_BOT_TOKEN"
			},
			"filter": {
				"type": "mon_iv",
				"name": "",
				"dataType": "pokemon",
				"whitelist": [],
				"blacklist": [],
				"ivMax": "45",
				"ivMin": "45",
				"iVmaxAtk": "",
				"iVminDef": "",
				"iVminSta": "",
				"maxCP": ""
			}
		},
		{
			"name": "WhiteList",
			"type": "pokemon",
			"isActive": "true",
			"geofence": "PATH/TO/YOUR/GEOFENCE",
			"geofence_exclude": "",
			"messenger": {
				"type": "messenger type",
				"channelId": "YOUR_CHANNEL_ID",
				"botToken": "YOUR_BOT_TOKEN"
			},
			"filter": {
				"type": "mon_whitelist",
				"name": "",
				"dataType": "pokemon",
				"whitelist": [19,90,92, 147, 198, 201],
				"blacklist": [],
				"ivMax": "",
				"ivMin": "",
				"iVmaxAtk": "2",
				"iVminDef": "14",
				"iVminSta": "14",
				"maxCP": "1500"
			}
		}
	]
}