# database options

[database]
#db_host=
#db_name=
#db_user=
#db_pass=
#db_port=
#db_schema=

[channler]
checkInterval = 30

[ReverseGeocoding]
enable_reverse_geocoding = false
#google_maps_api_key = 

[settings]
locale = de